# Database Connections
PG_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres"
MONGO_URL="mongodb+srv://[USERNAME]:[PASSWORD]@[CLUSTER].mongodb.net/[DATABASE_NAME]?retryWrites=true&w=majority"
API_PORT=3000

# Messaging and Security
KAFKA_BROKER="pkc-12345.us-east-1.aws.confluent.cloud:9092"
API_KEY="api_key_value"
API_SECRET="api_secret_key"